{{ define "content" }}
<head>
    <link rel="stylesheet" href="/static/css/games.css">
</head>
<div class="game-list">
    <h1>Список ігор</h1>
    <div class="games-grid">
        <div class="game-card">
            <img src="/static/images/valhalla.jpg" alt="Assassin's Creed Valhalla" />
            <h3>Assassin's Creed Valhalla</h3>
            <p>Ціна: $40.59</p>
            <p>Знижка: 25%</p>
        </div>
        <div class="game-card">
            <img src="/static/images/watchdogs.jpg" alt="Watch Dogs Legion" />
            <h3>Watch Dogs Legion</h3>
            <p>Ціна: $34.99</p>
            <p>Знижка: 30%</p>
        </div>
        <div class="game-card">
            <img src="/static/images/ghostrunner.jpg" alt="Ghostrunner" />
            <h3>Ghostrunner</h3>
            <p>Ціна: $17.99</p>
            <p>Знижка: 50%</p>
        </div>
        <!-- Додайте ще картки -->
    </div>
</div>
{{ end }}