{{define "search.item"}}
<div class="game-card">
    <img src="{{.TinyImage}}" alt="{{.Name}}" />
    <h3>{{.Name}}</h3>
    <p>Ціна:
        {{if ne .Price.Initial .Price.Final}}
        <span style="text-decoration: line-through;">{{.Price.Initial}}</span>
        <span>{{.Price.Final}}</span>
        {{else}}
        <span>{{.Price.Initial}}</span>
        {{end}}
        {{.Price.Currency}}
    </p>
    {{if ne .Price.Initial .Price.Final}}
    <p>Знижка: {{.Price.DiscountPercentage}} %</p>
    {{end}}
</div>
{{end}}