.selected-game-info {
    position: absolute;
    bottom: 200px;
    right: 50px;
    z-index: 10;
    text-align: left;
    color: rgb(213, 213, 213);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 8px;
}

.selected-game-info h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.selected-game-info p {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}